<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

    <!-- Mermaid setup -->
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({ startOnLoad: true });</script>
  </head>
  <body>
    <header>
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      <!-- Navigation or other header content -->
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
        <div class="footer-container" style="display: flex; flex-direction: column; align-items: center; padding: 1rem; background: #333; color: #fff;">
          <p style="margin: 0.5rem;">&copy; {{ site.time | date: '%Y' }} {{ site.author }}. All rights reserved.</p>
          <p style="margin: 0.5rem;">{{ site.description }}</p>
          <ul class="footer-links" style="display: flex; list-style: none; padding: 0; margin: 0.5rem;">
            <li style="margin: 0 0.5rem;"><a href="https://www.linkedin.com/in/phuongvohuy/" target="_blank" style="color: #fff; text-decoration: none;">LinkedIn</a></li>
            <li style="margin: 0 0.5rem;"><a href="https://github.com/phuongvo9" target="_blank" style="color: #fff; text-decoration: none;">GitHub</a></li>
          </ul>
        </div>
      </footer>
  </body>
</html>